<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :carbrand, style: "display: block" %>
    <%= form.text_field :carbrand %>
  </div>

  <div>
    <%= form.label :carmodel, style: "display: block" %>
    <%= form.text_field :carmodel %>
  </div>

  <div>
    <%= form.label :patent, style: "display: block" %>
    <%= form.text_field :patent %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.text_field :year %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
