<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Carbrand:</strong>
    <%= vehicle.carbrand %>
  </p>

  <p>
    <strong>Carmodel:</strong>
    <%= vehicle.carmodel %>
  </p>

  <p>
    <strong>Patent:</strong>
    <%= vehicle.patent %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= vehicle.customer_id %>
  </p>

</div>
