<%= form_with(model: repair) do |form| %>
  <% if repair.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
        <% repair.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
    <%#= form.collection_select :user_id, User.all, :id, :name %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%#= form.text_field :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name %>
  </div>

  <div>
    <%= form.label :vehicle_id, style: "display: block" %>
    <%#= form.text_field :vehicle_id %>
    <%= form.collection_select :vehicle_id, Vehicle.all, :id, :carbrand %>
  </div>

  <div>
    <%= form.label :vehicle_id, style: "display: block" %>
    <%#= form.text_field :vehicle_id %>
    <%= form.collection_select :vehicle_id, Vehicle.all, :id, :carmodel %>
  </div>

  <div>
    <%= form.label :typestate_id, style: "display: block" %>
    <%#= form.text_field :typestate_id %>
    <%= form.collection_select :typestate_id, Typestate.all, :id, :name %>
  </div>

  <div>
    <%= form.label :replacements, style: "display: block" %>
    <%= form.collection_check_boxes :replacement_ids, Replacement.all, :id, :name %>
  </div>

  <div>
    <%= form.label :typeservices, style: "display: block" %>
    <%= form.collection_check_boxes :typestate_id, Typeservice.all, :id, :name %>
  </div>

  

  <div>
    <%= form.label :estimateddate, style: "display: block" %>
    <%= form.text_field :estimateddate,  required: true%>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description,  required: true%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
