<div id="<%= dom_id repair %>">
  <p>
    <strong>User:</strong>
    <%= repair.user_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= repair.customer_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= repair.vehicle_id %>
  </p>

  <p>
    <strong>Typestate:</strong>
    <%= repair.typestate_id %>
  </p>

  <p>
    <strong>Estimateddate:</strong>
    <%= repair.estimateddate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= repair.description %>
  </p>

</div>
