<div id="<%= dom_id repair %>">
  <p>
    <strong>User:</strong>
    <%= repair.user_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= repair.customer_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= repair.vehicle_id %>
  </p>

  <p>
    <strong>Typestate:</strong>
    <%= repair.typestate_id %>
  </p>
    

    
    <p>
      <strong>Replacement:</strong>
      <%= repair.replacement_ids.each do |item| %>
        <%= content_tag :span, item.name, class: "tag"  %>
      <% end %>
    </p>
    <p>
      <strong>Typeservice:</strong>
      <%= repair.typeservices.each do |item| %>
        <%= content_tag :span, item.name, class: "tag"  %>
      <% end %>
    </p>
     
  <p>
    <strong>Estimateddate:</strong>
    <%= repair.estimateddate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= repair.description %>
  </p>

</div>
